body {
    background-color: blanchedalmond;
}

.jumbotron-fluid {
    background-color: rgb(171, 171, 177);
    text-align: center;
    border-radius: 4px;
}

.card-body {
    background-color: rgb(171, 171, 177);
    border-radius: 4px;
    position: absolute;
    left: 1118px;
    padding: 7px;
    height: 200px;
    width: 378px;;
}

.animal {
    width:124px;
    height:auto;
    display:inline-block;
    
}

.card-title{
    font-size: 24px;
    text-align: center;

}

#add-animal{
    position: absolute;
    left: 13px;
}

#animal-input{
    position: absolute;
    left:145px;
}

label{
    position: absolute;
    left: 13px;
}